
.prot {
  height: 200px;
  position: relative;
  margin-top: 30px;
}

.panel-disabled {
  color: @gray-light !important;
}

.orf-panel-heading {
  height: 22px;
  font-size: 10px;
  line-height: 12px;
  padding: 5px 5px;
}

.orf-panel {
  margin-bottom: 5px;
}

.orf-panel-body {
  padding-bottom: 5px;
  padding-top: 5px;
  margin-left: 5px;
}
