

.prot {
  height: 200px;
  position: relative;
  margin-top: 30px;
}


path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.panel-disabled {
  color: @gray-light !important;
}

.orf-panel-heading {
  height: 22px;
  font-size: 10px;
  line-height: 12px;
  padding: 5px 5px;
}

.orf-panel {
  margin-bottom: 5px;
}

.orf-panel-body {
  padding-bottom: 5px;
  padding-top: 5px;
  margin-left: 15px;
}

.orf-title-vertical{
  transform:  translateX(-100%) rotate(-90deg) translateY(-20px) translateX(-15px);
  font-size: 12px;
  transform-origin: 100% 100%;
  display:inline-block;
  height: 0px;
}

.orf-hr{
  margin: 0px;
  transform:  translateY(-10px) translateX(-20px);
}

.meta-active {
  background-color: #FAFAFA;
}

.orf-scroll{
  overflow-x: auto;
}


.itasser-model-box {
  border-color: #CCC;
  border-width: 1px;
  border-style: solid;
  margin-top: 0px;
}
