<navbar></navbar>

<div class="container">
  <div class="row row-offcanvas row-offcanvas-left">

    <div class="col-lg-12">
      <div class="alert alert-warning" role="alert">
        <b>ProteoBIF</b> est toujours en développement.
          <br>
          Vos commentaires et suggestions sont les bienvenus, contactez: <a href="mailto:jeremy.geo@gmail.com">jeremy.geo@gmail.com</a>.
          <br>
          Pour plus d'information, <a href="/devel">cliquez-ici</a>.
      </div>
    </div>

    <div class="col-lg-12">

      <div class="panel panel-default">
        <div class="panel-body">
          <ol class="breadcrumb">
            <li class="active">
              <a ng-if="selectedProject" ng-click="reset()">Projects</a>
              <span ng-if="!selectedProject">Projects</span>
            </li>
            <li class="active" ng-if="selectedProject">
              <a ng-if="selectedDataset" ng-click="resetToProject()">{{selectedProject}}</a>
              <span ng-if="!selectedDataset">{{selectedProject}}</span>
            </li>
            <li class="active" ng-if="selectedDataset">
              {{selectedDataset}}
            </li>
          </ol>

          <div class="loading-spinner" ng-show="dataIsLoading">
            <span us-spinner="{radius:30, width:8, length: 16}" spinner-on="dataIsLoading"></span>
          </div>

          <div ng-show="data.projects && !selectedProject">
            <ng-include src="'app/main/tables/projectTable.html'"></ng-include>
          </div>

          <div ng-show="data.datasets && !selectedDataset">
            <ng-include src="'app/main/tables/datasetTable.html'"></ng-include>
          </div>

          <div ng-show="data.orfs">
            <ng-include src="'app/main/tables/orfTable.html'"></ng-include>
          </div>

        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading" ng-click="settings.toggle()">
          Filter settings
          <span class="glyphicon pull-right"
                ng-class="{'glyphicon-chevron-down': settings.isOpen,
                            'glyphicon-chevron-right': !settings.isOpen}"></span>
        </div>
        <div class="panel-body" ng-show="settings.isOpen">
          <div class="row">
            <div class="col-lg-6">

              <h4>Disopred</h4>

              <div class="form-group">
                <label>Percent of residues above threshold</label>

                <input ng-model="disopredThreshold" type="range" min="0.01" max="1" step="0.001"/>
                {{disopredThreshold}}
              </div>
            </div>

            <div class="col-lg-6">
              <h4>Topcons</h4>

              <div class="form-group">
                <label>Number of predicted TMHs</label>
                <div class="form-group">
                  <input type="checkbox" ng-model="tmhmm.TMH.checked"> Min:
                  <input type="number" min="0" ng-model="tmhmm.TMH.value">
                <div class="input-group">
                <label>Exp number of AAs in TMHs</label>
                <div class="form-group">
                  <input type="checkbox" ng-model="tmhmm.AAInTMH.checked"> Min:
                  <input type="number" min="0" ng-model="tmhmm.AAInTMH.value">
                <div class="input-group">
                <label>Exp number, first 60 AAs</label>
                <div class="form-group">
                  <input type="checkbox" ng-model="tmhmm.AAFirst60.checked"> Max:
                  <input type="number" min="0" ng-model="tmhmm.AAFirst60.value">
                <div class="input-group">
              </div>
            </div>


            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>

<footer></footer>
