<h4>Available projects</h4>
<small class="text-muted">
  Authorization must be requested for projects marked with the <span class="glyphicon glyphicon-lock"></span> icon.</small>
<br>
<br>
<table ng-table="table" class="table table-condensed table-bordered table-striped" show-filter="true">
  <tr ng-repeat="row in $data">
    <td  data-title="'Name'" filter="{name: 'text'}" sortable="'name'" class="col-lg-2">
      <a ng-if="row.authorized" ng-click="getDatasets(row.name)">{{row.name}}</a>
      <span ng-if="!row.authorized" class="text-muted"><span class="glyphicon glyphicon-lock"></span>  {{row.name}}</span>
    </td>
    <td data-title="'Description'" class="col-lg-4">{{row.meta.description}}</td>
    <td data-title="'Owner'" class="col-lg-2">{{row.meta.owner}}</td>
    <td data-title="'Datasets'" sortable="'quantity'" class="col-lg-1 text-center">{{row.datasets.length}}</td>
    <td data-title="'Created'" sortable="'meta.dateCreated'" class="col-lg-1 text-center">{{row.meta.dateCreated | date:'MM/dd/yyyy' : 'UTC'}}</td>
  </tr>
</table>
