<!-- Primary sequence panel ****************************************** -->
<div class="panel panel-default orf-panel">
  <div class="panel-heading orf-panel-heading"
        ng-class="{'panel-disabled': !state.primary.isPresent}">

    <orf-panel-title  opt-title="'Sequence and annotations'"
                      opt-state="state.primary"
                      opt-no-meta="true">
    </orf-panel-title>
    <file-download-button fdb-files="config.sequence.files"
                          fdb-analysis-path="config.sequence.path"
                          ng-if="state.primary.isPresent">
    </file-download-button>

  </div>

  <div class="panel-body orf-panel-body orf-opensmooth"
        ng-show="state.primary.isOpen && state.primary.isPresent">
    <div id="scroll6" class="orf-scroll">
    <primary-sequence-graph ng-if="state.primary.isPresent" graph-data="oflOrf"></primary-sequence-graph>
    </div>
  </div>

</div>

<!-- Disopred panel ****************************************************** -->
<div class="panel panel-default orf-panel">
  <div class="panel-heading orf-panel-heading"
        ng-class="{'panel-disabled': !state.disopred.isPresent}">
    <orf-panel-title  opt-title="'DISOPRED'"
                      opt-state="state.disopred">
    </orf-panel-title>
    <file-download-button fdb-files="config.disopred.files"
                          fdb-analysis-path="config.disopred.path"
                          ng-if="state.disopred.isPresent">
    </file-download-button>
  </div>
  <metadata-display md-state="state.disopred"
                    md-metadata="disoGraphData.metadata">
  </metadata-display>
  <div class="panel-body orf-panel-body orf-opensmooth"
        ng-show="state.disopred.isOpen && state.disopred.isPresent">
    <p class="orf-title-vertical orf-fade"
        ng-if="state.disopred.isOpen && state.disopred.isPresent">Disorder pred.</p>
    <hr class="orf-hr">

    <div id="scroll1" class="orf-scroll">
      <diso-graph-line ng-if="state.disopred.isPresent"
                        graph-data="oflOrf.analysis.disopred.data"
                        graph-spacing="graphSpacing"></diso-graph-line>

    </div>
  </div>

</div>

<!-- TMHMM panel ********************************************************* -->
<div class="panel panel-default orf-panel">
  <div class="panel-heading orf-panel-heading"
        ng-class="{'panel-disabled': !state.tmhmm.isPresent}">
    <orf-panel-title  opt-title="'TMHMM'"
                      opt-state="state.tmhmm">
    </orf-panel-title>
    <file-download-button fdb-files="config.tmhmm.files"
                          fdb-analysis-path="config.tmhmm.path"
                          ng-if="state.tmhmm.isPresent">
    </file-download-button>
  </div>
 <metadata-display md-state="state.tmhmm"
                   md-metadata="tmhmmGraphData.metadata">
 </metadata-display>

  <div class="panel-body orf-panel-body orf-opensmooth"
        ng-show="state.tmhmm.isOpen && state.tmhmm.isPresent">

    <p class="orf-title-vertical orf-fade" ng-if="state.tmhmm.isOpen && state.tmhmm.isPresent">Transmembrane pred.</p>
    <hr class="orf-hr">

    <div id="scroll2" class="orf-scroll">
      <tmhmm-graph ng-if="state.tmhmm.isPresent"
                    graph-data="oflOrf.analysis.tmhmm"
                    graph-height="100"
                    graph-spacing="graphSpacing"></tmhmm-graph>
    </div>
  </div>
</div>

<!-- Topcons panel ******************************************************* -->
<div class="panel panel-default orf-panel">
  <div  class="panel-heading orf-panel-heading"
        ng-class="{'panel-disabled': !state.topcons.isPresent}">
    <orf-panel-title  opt-title="'TOPCONS'"
                      opt-state="state.topcons">
    </orf-panel-title>
    <file-download-button fdb-files="config.topcons.files"
                          fdb-analysis-path="config.topcons.path"
                          ng-if="state.topcons.isPresent">
    </file-download-button>
  </div>
  <metadata-display md-state="state.topcons"
                    md-metadata="topconsGraphData.metadata">
  </metadata-display>

  <div class="panel-body orf-panel-body orf-opensmooth"
        ng-show="state.topcons.isOpen && state.topcons.isPresent">

    <p class="orf-title-vertical orf-fade" ng-if="state.topcons.isOpen && state.topcons.isPresent">Topcons predictions</p>
    <hr class="orf-hr">
    <div id="scroll3" class="orf-scroll">
          <topcons-graph ng-if="state.topcons.isPresent"
                          graph-data="oflOrf.analysis.topcons"
                          graph-spacing="graphSpacing"> </topcons-graph>
    </div>
  </div>
</div>

<!-- I-Tasser panel ****************************************************** -->
<div class="panel panel-default orf-panel">
  <div class="panel-heading orf-panel-heading"
        ng-class="{'panel-disabled': !state.itasser.isPresent}">
    <orf-panel-title  opt-title="'I-tasser'"
                      opt-state="state.itasser">
    </orf-panel-title>
    <file-download-button fdb-files="config.itasser.files"
                          fdb-analysis-path="config.itasser.path"
                          ng-if="state.itasser.isPresent">
    </file-download-button>
  </div>
  <metadata-display md-state="state.itasser"
                    md-metadata="itasserSsGraphData.metadata">
  </metadata-display>

  <div class="panel-body orf-panel-body orf-opensmooth"
        ng-show="state.itasser.isOpen && state.itasser.isPresent">

    <p class="orf-title-vertical orf-fade" ng-if="state.itasser.isOpen && state.itasser.isPresent">Secondary structure</p>
    <hr class="orf-hr">

    <div id="scroll4" class="orf-scroll">
      <itasser-ss-graph ng-if="state.itasser.isPresent"
                        graph-data-ss="oflOrf.analysis.itasser.ss"
                        graph-height="150"
                        graph-spacing="graphSpacing"></itasser-ss-graph>
    </div>

    <p class="orf-title-vertical orf-fade" ng-if="state.itasser.isOpen && state.itasser.isPresent">Top 10 threading templates</p>
    <hr class="orf-hr">

    <div id="scroll5" class="orf-scroll">
      <itasser-align-graph ng-if="state.itasser.isPresent"
                            graph-data="oflOrf.analysis.itasser.align"
                            seq-count="10"
                            graph-spacing="graphSpacing"></itasser-align-graph>
    </div>

    <div>
      <p class="orf-title-vertical orf-fade" ng-if="state.itasser.isOpen && state.itasser.isPresent && itasserModels.length > 0">Top final models predicted</p>
      <hr class="orf-hr">

      <div clas="row">
        <div ng-repeat="model in itasserModels" class="col-md-4">
          <div id="gldiv-{{model.name}}" class="prot itasser-model-box">

          </div>
          <h5>
            {{model.name}}
            <span class="glyphicon glyphicon-plus model-glyph pull-right"
                  ng-click="spawnModelModal(model.data)"></span>
            <span class="glyphicon glyphicon-download model-glyph pull-right"
                  ng-click="downData(model.data, 'text/plain', 'model.pdb')"></span>
          </h5>
          <h4>
            <small>CScore: {{model.cscore}}</small><br>
            <small ng-if="model.tm">TM-Score: {{model.tm}}</small><br>
            <small ng-if="model.rmsd">RMSD: {{model.rmsd}}</small><br>
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
