
<orf-analysis-panel oap-analysis=""
                    oap-title="'Primary sequence and annotations'"
                    oap-is-open="state.primary"
                    oap-is-present="oflOrf.sequence.length > 0"
                    oap-scroll="scrollPos"
                    oap-files="[{name: 'Sequence', isSeq: true, _id: oflOrf._id}]">
    <primary-sequence-graph ng-if="state.primary" graph-data="oflOrf"></primary-sequence-graph>
</orf-analysis-panel>

<orf-analysis-panel oap-analysis="oflOrf.analysis.disopred"
                    oap-title="'DISOPRED'"
                    oap-is-open="state.disopred"
                    oap-is-present="oflOrf.analysis.disopred"
                    oap-scroll="scrollPos"
                    oap-files="oflOrf.analysis.disopred.originals">
    <p class="orf-title-vertical orf-fade">Disorder pred.</p>
    <hr class="orf-hr">
    <diso-graph-line ng-if="oflOrf.analysis.disopred.data"
                      graph-data="oflOrf.analysis.disopred.data.sequential"
                      graph-spacing="graphSpacing"></diso-graph-line>
</orf-analysis-panel>

<orf-analysis-panel oap-analysis="oflOrf.analysis.tmhmm"
                    oap-title="'TMHMM'"
                    oap-is-open="state.tmhmm"
                    oap-is-present="oflOrf.analysis.tmhmm"
                    oap-scroll="scrollPos"
                    oap-files="oflOrf.analysis.tmhmm.originals">
    <p class="orf-title-vertical orf-fade">Transmembrane pred.</p>
    <hr class="orf-hr">
    <tmhmm-graph ng-if="oflOrf.analysis.tmhmm"
                  graph-data="oflOrf.analysis.tmhmm"
                  graph-height="100"
                  graph-spacing="graphSpacing"></tmhmm-graph>
</orf-analysis-panel>

<orf-analysis-panel oap-analysis="oflOrf.analysis.topcons"
                    oap-title="'TOPCONS'"
                    oap-is-open="state.topcons"
                    oap-is-present="oflOrf.analysis.topcons"
                    oap-scroll="scrollPos"
                    oap-files="oflOrf.analysis.topcons.originals">
    <p class="orf-title-vertical orf-fade">Topcons predictions</p>
    <hr class="orf-hr">
    <topcons-graph ng-if="oflOrf.analysis.topcons"
                    graph-data="oflOrf.analysis.topcons"
                    graph-spacing="graphSpacing"> </topcons-graph>
</orf-analysis-panel>

<orf-analysis-panel oap-analysis="oflOrf.analysis.itasser"
                    oap-title="'I-TASSER'"
                    oap-is-open="state.itasser"
                    oap-is-present="oflOrf.analysis.itasser"
                    oap-scroll="scrollPos"
                    oap-files="oflOrf.analysis.itasser.originals">
    <p class="orf-title-vertical orf-fade">Secondary structure</p>
    <hr class="orf-hr">
    <itasser-ss-graph ng-if="oflOrf.analysis.itasser"
                      graph-data-ss="oflOrf.analysis.itasser"
                      graph-height="150"
                      graph-spacing="graphSpacing"></itasser-ss-graph>

    <p class="orf-title-vertical orf-fade">Top 10 threading templates</p>
    <hr class="orf-hr">
    <itasser-align-graph ng-if="oflOrf.analysis.itasser"
                          graph-data="oflOrf.analysis.itasser"
                          seq-count="10"
                          graph-spacing="graphSpacing"></itasser-align-graph>
    <p class="orf-title-vertical orf-fade" ng-if="oflOrfItasserModels">Top final models predicted</p>
    <div clas="row">
      <div ng-repeat="model in oflOrfItasserModels" class="col-md-4">
        <div class="prot itasser-model-box">

        </div>
        <h5>
          {{model.name}}
          <span class="glyphicon glyphicon-plus model-glyph pull-right"
                ng-click="spawnModelModal(model.data)"></span>
          <span class="glyphicon glyphicon-download model-glyph pull-right"
                ng-click="downData(model.data, 'text/plain', 'model.pdb')"></span>
        </h5>
        <h4>
          <small>CScore: {{model.metadata.cscore}}</small><br>
          <small ng-if="model.metadata.tm">TM-Score: {{model.metadata.tm}}</small><br>
          <small ng-if="model.metadata.rmsd">RMSD: {{model.metadata.rmsd}}</small><br>
        </h4>
      </div>
    </div>

</orf-analysis-panel>
